#header_navbar {
  position: fixed;
  height: 30px;
  background-color: transparent;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  transition: margin-top 0.3s;
}

#header_navbar a {
  margin-left: 5px;
}
