.post-title {
    font-size: 2.2em;
    margin-top: 0.25em;
    color: #eadede;
}

section > article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}