.post-article {
    width: 97%;
    max-width: 240mm;
}
.post-title {
    font-size: 2.2em;
    margin-top: 0.25em;
    color: #eadede;
}

.post-body {
    text-align: left;
    background-color: #080f0f;
    color: #c2d0d0;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.post-body > h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.post-body li+li {
    margin-top: 0.25em;
}

.post-body blockquote {
	margin: 1em 0em;
	padding: 0em 1em;
	border-left-width: 1mm;
	border-left-color: #939393;
	border-left-style: solid;
}

.post-body pre {
	padding: 1.25mm;
	background-color: #000202;
}

.post-body code {
	color: #ffffff;
}

.post-body img {
    max-width: 100%;
}