.App {
  text-align: center;
  background-color: #202a35;
  min-height: 100vh;
}

#opening {
  position: fixed;
  background-color: rgba(32,42,53,1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation-delay:4s;
  animation-duration:2s;
  animation-name: opening-background;
}

#opening > h1 {
  width: auto;
  text-align: center;
  margin-top: 200%;
  animation-duration: 4s;
  animation-name: opening-word;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  #opening > h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  #opening > h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 900px) {
  #opening > h1 {
    font-size: 59px;
  }
}
@keyframes opening-word {
  0% {
    background: linear-gradient(0.125turn, #2a319b 20%, #703270 50%, #5ab0ff 75%);
    margin-top: 150%;
    -webkit-background-clip: text;
  }
  20% {
    margin-top: 40vh;
  }
  80% {
    margin-top: 40vh;
  }
  100% {
    margin-top: -60%;
    background: linear-gradient(0.125turn, #2a319b 20%, #703270 50%, #5ab0ff 75%);
    -webkit-background-clip: text;

  }
}

@keyframes opening-background {
  from {
    background: rgba(32,42,53,1);
  }
  to {
    background: rgba(32,42,52,0);
  }
}
